<h1 class="pt-4"><%= @restaurant.name %></h1>
  <hr>
   <p>Address: <%= @restaurant.address %></p>
   <p>Category: <%= @restaurant.category %></p>
  <hr>
  <p><strong>Reviews:</strong></p>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
  <% @restaurant.reviews.each do |review| %>
  <hr>
   <p>Rating: <%= review.rating %></p>
   <p>Content: <%= review.content %></p>
<% end %>
